# Python
__pycache__/
*.pyc
venv/
.env

# Pygame
*.cache

# IDEs
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Level editor temp files (optional but recommended)
level*_data.csv.bak
*.pkl